body {
    font-family: Microsoft JhengHei;
    background-color: #383838;
    padding-top: 150px; 
}

#banner {
    background-color: #383838;
    height: 30vh; 
    margin:0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    color: #FA8072;
    font-weight: bold;
}

.card{
    width: 50vh;
    margin:0 auto;
}

.d-grid gap-2 col-6 mx-auto{
    margin:0 auto;
}
/* ----------------------------FB IG links---------------------- */
#iconmenu2 {
    float: right;
}

#iconmenu2 ul {
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 10px;
}

#iconmenu2 li {
    display: inline;
    list-style-type: none;
    margin-right: 2em;

}

#iconmenu2 img {
    margin-top: 1.5em;
    border: none;
    width: 25px;
}

#iconmenu2 li a {
    /*icon間距*/
    float: left;
    margin-left: 15px;
}
/* --------------------------------------------- */

#mb-4 img {
    width: 25px;
}
